<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
  <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>



<a href="/api/logout">logout</a>
<p>登录状态：<%= isLogined ? '已登录' : '未登录' %></p>
<p><img src="<%= userInfo.avatar %>" alt=""></p>


<% users.forEach(function(user) { %>
<p style="color: #999;">
  <%= user.name%> - <%= user.id %>
  <% if (user.avatar) { %>
  <img src="<%= user.avatar %>" alt="">
  <% } %>
</p>
<% }) %>

<div>




</div>

</body>
</html>